# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# editor
.vscode/

# miscelaneous
.DS_Store
.env*
!.env.example
*.log
*.cache
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
