
/**
 * Define required environment variables to consume Marvel API
 */
export default {
  privateKey: (): string => 'the_long_hash_provided_to_you_stated_as_PRIVATE',
  publicKey: (): string => 'the_long_hash_provided_to_you_stated_as_PUBLIC',
}
